VideoRental_inWCF/VideoRental/Connected Services/RentalService/RentalService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RentalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/RentalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/RentalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/RentalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VRWebServiceLibrary.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRentalService_GetRentals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRentals" />
  </wsdl:message>
  <wsdl:message name="IRentalService_GetRentals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRentalsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalService_GetRental_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRental" />
  </wsdl:message>
  <wsdl:message name="IRentalService_GetRental_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRentalResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalService_PutRental_InputMessage">
    <wsdl:part name="parameters" element="tns:PutRental" />
  </wsdl:message>
  <wsdl:message name="IRentalService_PutRental_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutRentalResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalService_PostRental_InputMessage">
    <wsdl:part name="parameters" element="tns:PostRental" />
  </wsdl:message>
  <wsdl:message name="IRentalService_PostRental_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostRentalResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalService_DeleteRental_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRental" />
  </wsdl:message>
  <wsdl:message name="IRentalService_DeleteRental_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRentalResponse" />
  </wsdl:message>
  <wsdl:portType name="IRentalService">
    <wsdl:operation name="GetRentals">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalService/GetRentals" message="tns:IRentalService_GetRentals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalService/GetRentalsResponse" message="tns:IRentalService_GetRentals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRental">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalService/GetRental" message="tns:IRentalService_GetRental_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalService/GetRentalResponse" message="tns:IRentalService_GetRental_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutRental">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalService/PutRental" message="tns:IRentalService_PutRental_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalService/PutRentalResponse" message="tns:IRentalService_PutRental_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostRental">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalService/PostRental" message="tns:IRentalService_PostRental_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalService/PostRentalResponse" message="tns:IRentalService_PostRental_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRental">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalService/DeleteRental" message="tns:IRentalService_DeleteRental_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalService/DeleteRentalResponse" message="tns:IRentalService_DeleteRental_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRentalService" type="tns:IRentalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRentals">
      <soap:operation soapAction="http://tempuri.org/IRentalService/GetRentals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRental">
      <soap:operation soapAction="http://tempuri.org/IRentalService/GetRental" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutRental">
      <soap:operation soapAction="http://tempuri.org/IRentalService/PutRental" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostRental">
      <soap:operation soapAction="http://tempuri.org/IRentalService/PostRental" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRental">
      <soap:operation soapAction="http://tempuri.org/IRentalService/DeleteRental" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RentalService">
    <wsdl:port name="BasicHttpBinding_IRentalService" binding="tns:BasicHttpBinding_IRentalService">
      <soap:address location="http://localhost:8080/RentalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>