VideoRental_inWCF/VideoRental/Connected Services/RentalService/RentalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:46939/RentalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VRWebServiceLibrary.Model" />
  <xs:element name="GetRentals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VRWebServiceLibrary.Model" minOccurs="0" name="GetRentalsResult" nillable="true" type="q1:ArrayOfRental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRental">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VRWebServiceLibrary.Model" minOccurs="0" name="GetRentalResult" nillable="true" type="q2:Rental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRental">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VRWebServiceLibrary.Model" minOccurs="0" name="rental" nillable="true" type="q3:Rental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRentalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutRentalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRental">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VRWebServiceLibrary.Model" minOccurs="0" name="rental" nillable="true" type="q4:Rental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRentalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostRentalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRental">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRentalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRentalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>