VideoRental_inWCF/VideoRental/Connected Services/RentalItemService/RentalItemService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VRWebServiceLibrary.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VRWebServiceLibrary.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRentalItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RentalItem" nillable="true" type="tns:RentalItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRentalItem" nillable="true" type="tns:ArrayOfRentalItem" />
  <xs:complexType name="RentalItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="MovieId" type="xs:int" />
      <xs:element minOccurs="0" name="RentalId" type="xs:int" />
      <xs:element minOccurs="0" name="RentalItemId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RentalItem" nillable="true" type="tns:RentalItem" />
</xs:schema>